doctype html
html(translate="no")

  head
    title Setlist
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(href='/public/app.css' rel='stylesheet')
    link(href='/public/favicon.ico' rel='icon')

  body(style=css)
    #container
      block content

    #footer
      block footer

    script.
      const timeout = 450;

      var left = 0;
      var middle = 0;
      var right = 0;

      function keyEvents(event) {

        console.log(event);

        if (event.keyCode === #{keycodes.left}) {
          left++
          if (left >= 2) {
            window.dispatchEvent(new CustomEvent("double", { detail: { button: "left" } }));
            left = 0;
            return;
          }
          setTimeout(() => {
            window.dispatchEvent(new CustomEvent("single", { detail: { button: "left" } }));
            left = 0;
          }, timeout);
        }

        if (event.keyCode === #{keycodes.middle}) {
          middle++
          if (middle >= 2) {
            window.dispatchEvent(new CustomEvent("double", { detail: { button: "middle" } }));
            middle = 0;
            return;
          }
          setTimeout(() => {
            window.dispatchEvent(new CustomEvent("single", { detail: { button: "middle" } }));
            middle = 0;
          }, timeout);
        }

        if (event.keyCode === #{keycodes.right}) {
          right++
          if (right >= 2) {
            window.dispatchEvent(new CustomEvent("double", { detail: { button: "right" } }));
            right = 0;
            return;
          }
          setTimeout(() => {
            window.dispatchEvent(new CustomEvent("single", { detail: { button: "right" } }));
            right = 0;
          }, timeout);
        }
      }

      document.addEventListener('keyup', keyEvents, true)

    block scripts