doctype html
html(style='font-size:' + fontSize)

  head
    title Setlist
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(href='/public/app.css' rel='stylesheet')
    link(href='/public/favicon.ico' rel='icon')

  body
    #container
      block content

    #footer
      block footer

    script.
      let pressed;
      let lastPressed;
      let isDoublePress;
      const timeOut = () => setTimeout(() => isDoublePress = false, 500);
      const keyPress = key => {
        pressed = key.keyCode;
        if (isDoublePress && pressed === lastPressed) {
          isDoublePress = false;
          window.dispatchEvent(new CustomEvent("doublePress", {
            detail: {
              key: key
            }
          }));
        } else {
          isDoublePress = true;
          timeOut();
        }
        lastPressed = pressed;
      }
      window.onkeyup = key => keyPress(key);

    block scripts