extends layout.pug

block content
  #setlist
    h1 #{setlist.name}
    each song in setlist.songs
      li(data-song=song.filename)
        a(href='/' + song.filename) #{song.name}

block footer
  footer
    .left
      .button(onclick='prev()') 
        .icon-wrapper
          span.icon.left-click
        .text UP
    .middle
      .button(onclick='select()')
        .icon-wrapper
          span.icon.middle-click
        .text SELECT
      .button.hold(onclick='settings()')
        .icon-wrapper
          span.icon.middle-hold
        .text SETTINGS
    .right
      .button(onclick='next()')
        .icon-wrapper
          span.icon.right-click
        .text DOWN

block scripts
  script.
    var song = 0;
    var total = #{setlist.songs.length};

    function selectSong(i) {
      let allSongs = document.querySelectorAll("#setlist li");
      allSongs.forEach((s) => s.classList.remove("active"));
      allSongs[i].classList.add("active");
      allSongs[i].scrollIntoView({
        behavior: 'auto',
        block: 'center',
        inline: 'center'
      });
    }

    function next() {
      song++;
      if (song == total) {
        song = 0;
      }
      selectSong(song);
    }

    function prev() {
      song--;
      if (song == -1) {
        song = total - 1;
      }
      selectSong(song);
    }

    function select() {
      document.querySelector("#setlist li.active a").click();
    }

    function settings() {
      location.href = "/settings";
    }

    addEventListener("shortPress", (e) => {
      if (e.detail.button == "left") {
        prev();
      }
      if (e.detail.button == "middle") {
        select();
      }
      if (e.detail.button == "right") {
        next();
      }
    });

    addEventListener("longPress", (e) => {
      if (e.detail.button == "middle") {
        settings();
      }
    });

    addEventListener("load", () => {
      let urlParams = new URLSearchParams(location.search);

      if (urlParams.has('song')) {
        let allSongs = document.querySelectorAll("#setlist li");
        allSongs.forEach((s, i) => {
          if(s.getAttribute("data-song") == urlParams.get('song')) {
            song = i;
          }
        });
      }

      selectSong(song);
    })
