extends layout.pug

block content
  #setlist
    h1 #{setlist.name}
    each song in setlist.songs
      li(data-song=song.filename)
        a(href='/' + song.filename) #{song.name}

block footer
  #left.footer-buttons
    button(onclick='prev()') 
      span UP
  #middle.footer-buttons
    button(onclick='select()')
      span SELECT
    a.song-button#settings(href='/settings')
        span.small 2
        span.small x
        span.small SETTINGS
  #right.footer-buttons
    button(onclick='next()')
      span DOWN

block scripts
  script.
    var song = 0;
    var total = #{setlist.songs.length};

    function selectSong(i) {
      let allSongs = document.querySelectorAll("#setlist li");
      allSongs.forEach((s) => s.classList.remove("active"));
      allSongs[i].classList.add("active");
      allSongs[i].scrollIntoView();
    }

    function next() {
      song++;
      if (song == total) {
        song = 0;
      }
      selectSong(song);
    }

    function prev() {
      song--;
      if (song == -1) {
        song = total - 1;
      }
      selectSong(song);
    }

    function select() {
      document.querySelector("#setlist li.active a").click();
    }

    function settings() {
      document.querySelector("#middle.footer-buttons a.song-button#settings").click();
    }

    addEventListener("single", (e) => {
      if (e.detail.button == "left") {
        prev();
      }
      if (e.detail.button == "middle") {
        select();
      }
      if (e.detail.button == "right") {
        next();
      }
    });

    addEventListener("double", (e) => {
      if (e.detail.button == "middle") {
        settings();
      }
    });

    addEventListener("load", () => {
      let urlParams = new URLSearchParams(location.search);

      if (urlParams.has('song')) {
        let allSongs = document.querySelectorAll("#setlist li");
        allSongs.forEach((s, i) => {
          if(s.getAttribute("data-song") == urlParams.get('song')) {
            song = i;
          }
        });
      }

      selectSong(song);
    })
