extends layout.pug

block content
  h1 #{song.name}

  div#lyrics(class=(flex ? 'flex' : '' )) !{lyrics}


block footer
  #left.footer-buttons
    button(onclick='scrollUp()') 
      span.small 1
      span.small x
      span UP
    if prevSong
      a.song-button#prev(href='/' + prevSong.filename)
        span.small 2
        span.small x
        span.song-name #{prevSong.name}
  #middle.footer-buttons
    button(onclick='setlist()')
      span MENU
  #right.footer-buttons
    button(onclick='scrollDown()')
      span.small 1
      span.small x
      span DOWN
    if nextSong
      a.song-button#next(href='/' + nextSong.filename)
        span.small 2
        span.small x
        span.song-name #{nextSong.name}

block scripts
  script.
    function setlist() {
      location.href = "/?song=" + location.pathname.substring(1, location.pathname.length);
    }

    function prev() {
      if (document.getElementById('prev')) {
        location.href = document.getElementById('prev').getAttribute("href");
      }
    }

    function next() {
      if (document.getElementById('next')) {
        location.href = document.getElementById('next').getAttribute("href");
      }
    }

    function scrollDown() {
      document.getElementById("container").scrollBy(0, window.innerHeight / 2);
    }

    function scrollUp() {
      document.getElementById("container").scrollBy(0, -(window.innerHeight / 2));
    }


    addEventListener("single", (e) => {
      if (e.detail.button == "left") {
        scrollUp();
      }
      if (e.detail.button == "middle") {
        setlist();
      }
      if (e.detail.button == "right") {
        scrollDown();
      }
    });

    addEventListener("double", (e) => {
      if (e.detail.button == "left") {
        prev();
      }
      if (e.detail.button == "right") {
        next();
      }
    });
