footer {
  position: fixed;
  bottom: 0;
  padding: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

footer .button {
  background-color: #222222;
  border: 1px solid lightgray;
  padding: 4px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

footer .button.click.active {
  background-color: lightblue;
}

footer .button.hold {
  background: linear-gradient(to left, #222222 50%, lightblue 50%) right;
  background-size: 200%;
  transition: 0.1s ease-out;
}

footer .button.hold.active {
  background-position: left;
  transition: 1.250s ease-in;
  transition-delay: .250s;
}

footer .text {
  height: 30px;
  font-weight: bolder;
  font-size: 22px;
  display: flex;
  align-items: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 250px;
  display: inline-block;
}

footer .left .button .text {
  margin-left: 4px;
  display: flex;
  align-items: center;
}

footer .middle .button .text {
  margin-top: 4px;
  flex-grow: 1;
  display: flex;
  align-items: center;
}

footer .right .button .text {
  margin-right: 4px;
  display: flex;
  align-items: center;
}

footer .icon {
  height: 40px;
  width: 100px; 
  display: inline-block;
  background: url('/public/icon_sprite.png');
  background-size: 100px;
}

footer .left-click {
  background-position: 0px 0px;

}

footer .left-hold {
  background-position: 0px -40px;

}

footer .middle-click {
  background-position: 0px -160px;
}

footer .middle-hold {
  background-position: 0px -120px;
}


footer .right-click {
  background-position: 0px -80px;
}

footer .right-hold {
  background-position: 0px -200px;
}

footer .left {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 4px;
}

footer .middle {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

footer .middle .button {
  flex-direction: column;
}

footer .right .button {
  flex-direction: row-reverse;
}

footer .right {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 4px;
}